## 1
Начнём с простого - сохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name какое-нибудь имя в виде строки

In [1]:
age = 26
name = "Muzaffar"

Создайте список user_info, содержащий 2 строки (имя и фамилия пользователя), 1 дробное число (зарплата) и 1 целое число (стаж)

In [2]:
user_info = ["Muzaffar", "Soliyev", 15.0, 3]

Добавьте в список users элементы 'Voronov' и 42

In [5]:
salaries = [10.0, 15.0, 20.0, 35.0, 40.0] 
first = salaries[0]
users = ["Name1", 25]
users.append("Voronov")
users.append(42)
users

['Name1', 25, 'Voronov', 42]

В переменной user_ages содержится список возрастов клиентов. Напишите петлю, выводящую на печать возраста, которые больше 18

In [7]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]
for age in user_ages:
    if age > 18:
        print(age)

21
35
42
27

Напишите программу, проверяющую стаж работы сотрудника. В переменной worker содержится список, содержащий значения как во 2-ом задании (имя, фамилия, зарплата, стаж). Поместите в переменную status такую строку

In [10]:
worker = ['Olya', 'Silyutina', 350000, 3]
user_name = worker[0]
user_family = worker[1]
if worker[3] < 2:
    position = "junior"
elif worker[3] > 5:
    position = "senior"
elif worker[3] >= 2:
    position = "middle"
status = f"{user_name} {user_family} is {position}"

В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело

In [19]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]
tens = []
for num in values:
    if num % 10 == 0:
        tens.append(num)
tens

[10, 100, 20, 50, 160, 210]

Реализуйте цикл, который пробегается по списку workers со значениями как в 2-ом и 6-ом заданиях, и выводит для каждого сотрудника строку (то есть печатает её для каждого элемента списка)
user_name user_family is position
где user_name и user_family - имя и фамилия сотрудника, а position - одна из следующих строк
'junior' - стаж меньше 2 лет
'middle' - стаж больше либо равен 2 лет
'senior' - стаж больше 5 лет

In [20]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]
for user_name, user_family, position, experience in workers:
    if experience < 2:
        position = "junior"
    elif experience > 5:
        position = "senior"
    elif experience >= 2:
        position = "middle"
    print(f"{user_name} {user_family} is {position}")

Ivan Ivanov is middle
Petr Petrov is middle
Sidor Sidorov is middle