In [1]:
import pandas as pd

In [3]:
bookings = pd.read_csv("bookings.csv", sep=";")

In [6]:
bookings.shape

(119390, 21)

In [4]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [7]:
bookings.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [47]:
bookings['reservation_status'].unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

In [11]:
columns_old = bookings.columns
columns_new = [col.replace(' ', '_').lower() for col in columns_old]
bookings.columns = columns_new
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [20]:
bookings.query("is_canceled == 0").groupby("country", as_index=False).aggregate({'is_canceled': 'count'}).sort_values('is_canceled', ascending=False).head()

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069

In [22]:
bookings.query("is_canceled == 0").groupby("reserved_room_type", as_index=False).aggregate({'stays_total_nights': 'mean'}).sort_values('stays_total_nights', ascending=False)

  reserved_room_type  stays_total_nights
4                  E            4.650509
2                  C            4.378205
3                  D            4.084129
6                  G            3.806161
5                  F            3.546852
7                  H            3.404494
1                  B            3.205333
0                  A            3.083779
8                  L            1.250000

In [27]:
bookings.query("assigned_room_type != reserved_room_type").size

313257

In [30]:
bookings.query("arrival_date_year == 2016").groupby('arrival_date_month', as_index=False).aggregate({'is_canceled':'count'}).sort_values('is_canceled', ascending=False)

   arrival_date_month  is_canceled
10            October         6203
8                 May         5478
0               April         5428
11          September         5394
6                June         5292
1              August         5063
7               March         4824
5                July         4572
9            November         4454
3            February         3891
2            December         3860
4             January         2248

In [31]:
bookings.query("arrival_date_year == 2017").groupby('arrival_date_month', as_index=False).aggregate({'is_canceled':'count'}).sort_values('is_canceled', ascending=False)

  arrival_date_month  is_canceled
7                May         6313
0              April         5661
5               June         5647
4               July         5313
6              March         4970
1             August         4925
2           February         4177
3            January         3681

In [42]:
bookings.query("hotel == 'City Hotel' & is_canceled == 1").groupby(['arrival_date_year', 'arrival_date_month'], as_index=False).aggregate({'is_canceled':'count'}).sort_values('is_canceled', ascending=False)

    arrival_date_year arrival_date_month  is_canceled
25               2017                May         2217
16               2016            October         1947
18               2017              April         1926
23               2017               June         1808
12               2016               June         1720
17               2016          September         1567
5                2015          September         1543
6                2016              April         1539
14               2016                May         1436
15               2016           November         1360
22               2017               July         1324
4                2015            October         1321
24               2017              March         1278
7                2016             August         1247
0                2015             August         1232
19               2017             August         1123
13               2016              March         1108
8                2016           December         1072
21               2017            January         1044
11               2016               July         1043
20               2017           February          971
2                2015               July          939
9                2016           February          930
1                2015           December          668
10               2016            January          438
3                2015           November          301

In [41]:
bookings.aggregate({'adults':'mean', 'children':'mean', 'babies':'mean'})

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [43]:
bookings['total_kids'] = bookings.apply(lambda row: row['children'] + row['babies'], axis=1)
bookings.groupby('hotel', as_index=False).aggregate({'total_kids':'mean'})

          hotel  total_kids
0    City Hotel    0.096311
1  Resort Hotel    0.142586

In [44]:
bookings['has_kids'] = bookings.apply(lambda row: True if row['total_kids'] > 0 else False, axis=1)

In [57]:
bookings.query("has_kids == True & is_canceled == 1").aggregate({'has_kids': 'count'})['has_kids'] / bookings.query("is_canceled == 1").size

0.0032040442333102622

In [58]:
bookings.query("has_kids == False & is_canceled == 1").aggregate({'has_kids': 'count'})['has_kids'] / bookings.query("is_canceled == 1").size

0.04027421663625495