In [1]:
import pandas as pd

Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

In [2]:
bookings = pd.read_csv("bookings.csv", sep=";")

In [3]:
bookings.shape

(119390, 21)

In [4]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [5]:
bookings.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [47]:
bookings['reservation_status'].unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

## My version

In [11]:
columns_old = bookings.columns
columns_new = [col.replace(' ', '_').lower() for col in columns_old]
bookings.columns = columns_new
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

## Author's version

In [7]:
bookings = bookings.rename(columns=lambda row: row.replace(' ', '_').lower())
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

## My version

In [20]:
bookings.query("is_canceled == 0").groupby("country", as_index=False).aggregate({'is_canceled': 'count'}).sort_values('is_canceled', ascending=False).head()

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069

## Author's version

In [9]:
bookings.query("is_canceled == 0").country.value_counts()[:5]

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

На сколько ночей в среднем бронируют отели разных типов?

## My version

In [10]:
bookings.query("is_canceled == 0").groupby("hotel", as_index=False).aggregate({'stays_total_nights': 'mean'}).sort_values('stays_total_nights', ascending=False)

          hotel  stays_total_nights
1  Resort Hotel            4.142892
0    City Hotel            2.923618

## Author's version

In [11]:
bookings.groupby('hotel', as_index=False).aggregate({'stays_total_nights': 'mean'}).round(decimals=2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [13]:
bookings.query("assigned_room_type != reserved_room_type").shape[0]

14917

Проанализируйте даты запланированного прибытия.

– На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?

## My version

In [30]:
bookings.query("arrival_date_year == 2016").groupby('arrival_date_month', as_index=False).aggregate({'is_canceled':'count'}).sort_values('is_canceled', ascending=False)

   arrival_date_month  is_canceled
10            October         6203
8                 May         5478
0               April         5428
11          September         5394
6                June         5292
1              August         5063
7               March         4824
5                July         4572
9            November         4454
3            February         3891
2            December         3860
4             January         2248

In [31]:
bookings.query("arrival_date_year == 2017").groupby('arrival_date_month', as_index=False).aggregate({'is_canceled':'count'}).sort_values('is_canceled', ascending=False)

  arrival_date_month  is_canceled
7                May         6313
0              April         5661
5               June         5647
4               July         5313
6              March         4970
1             August         4925
2           February         4177
3            January         3681

## Author's version

In [14]:
bookings.query("arrival_date_year == 2016").arrival_date_month.value_counts()

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [15]:
bookings.query("arrival_date_year == 2017").arrival_date_month.value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов

## My version

In [16]:
bookings.query("hotel == 'City Hotel' & is_canceled == 1").groupby(['arrival_date_year', 'arrival_date_month'], as_index=False).aggregate({'is_canceled':'count'})# .sort_values('is_canceled', ascending=False)

    arrival_date_year arrival_date_month  is_canceled
0                2015             August         1232
1                2015           December          668
2                2015               July          939
3                2015           November          301
4                2015            October         1321
5                2015          September         1543
6                2016              April         1539
7                2016             August         1247
8                2016           December         1072
9                2016           February          930
10               2016            January          438
11               2016               July         1043
12               2016               June         1720
13               2016              March         1108
14               2016                May         1436
15               2016           November         1360
16               2016            October         1947
17               2016          September         1567
18               2017              April         1926
19               2017             August         1123
20               2017           February          971
21               2017            January         1044
22               2017               July         1324
23               2017               June         1808
24               2017              March         1278
25               2017                May         2217

## Author's version

In [19]:
bookings.query("hotel == 'City Hotel' & is_canceled == 1").groupby('arrival_date_year').arrival_date_month.value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

## My version

In [41]:
bookings.aggregate({'adults':'mean', 'children':'mean', 'babies':'mean'})

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

## Author's version

In [20]:
bookings[['adults', 'children', 'babies']].describe()

              adults       children         babies
count  119390.000000  119386.000000  119390.000000
mean        1.856403       0.103890       0.007949
std         0.579261       0.398561       0.097436
min         0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         2.000000       0.000000       0.000000
75%         2.000000       0.000000       0.000000
max        55.000000      10.000000      10.000000

In [21]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

## My version

In [43]:
bookings['total_kids'] = bookings.apply(lambda row: row['children'] + row['babies'], axis=1)
bookings.groupby('hotel', as_index=False).aggregate({'total_kids':'mean'})

          hotel  total_kids
0    City Hotel    0.096311
1  Resort Hotel    0.142586

## Author's version

In [22]:
bookings['total_kids'] = bookings['children'] + bookings['babies']

In [29]:
bookings.groupby('hotel', as_index=False).agg({'total_kids':'mean'}).round(2).max()

hotel         Resort Hotel
total_kids            0.14
dtype: object

Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

## My version

In [44]:
bookings['has_kids'] = bookings.apply(lambda row: True if row['total_kids'] > 0 else False, axis=1)

In [40]:
yes_kids_churn = bookings.query("has_kids == True & is_canceled == 1").aggregate({'has_kids': 'count'})['has_kids'] / bookings.query("has_kids == True").shape[0]
yes_kids_churn = round(yes_kids_churn * 100, 2)
yes_kids_churn

34.92

In [39]:
no_kids_churn = bookings.query("has_kids == False & is_canceled == 1").aggregate({'has_kids': 'count'})['has_kids'] / bookings.query("has_kids == False").shape[0]
no_kids_churn = round(no_kids_churn * 100, 2)
no_kids_churn

37.22

## Author's version

In [30]:
bookings['has_kids'] = bookings.total_kids > 0

In [44]:
no_kids_churn = bookings.query("has_kids == False & is_canceled == 1").has_kids.value_counts() / bookings.query("has_kids == False").shape[0]
no_kids_churn = round(no_kids_churn * 100, 2)
no_kids_churn

False    37.22
Name: has_kids, dtype: float64

In [45]:
yes_kids_churn = bookings.query("has_kids == True & is_canceled == 1").has_kids.value_counts() / bookings.query("has_kids == True").shape[0]
yes_kids_churn = round(yes_kids_churn * 100, 2)
yes_kids_churn

True    34.92
Name: has_kids, dtype: float64