–°—Ç—Ä–æ–∫–∞ names —Å–æ–¥–µ—Ä–∂–∏—Ç –∏–º–µ–Ω–∞ –≤ —Ñ–æ—Ä–º–∞—Ç–µ 'Name1 Surname1, Name2 Surname2, ‚Ä¶'.
–ü–æ–º–µ—Å—Ç–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é names_list —Å–ø–∏—Å–æ–∫ —Å–æ —Å—Ç—Ä–æ–∫–∞–º–∏ –∏–º—ë–Ω ‚Äì ['Name1 Surname1', 'Name2 Surname2', ‚Ä¶]

In [1]:
name = "Name1 Surname1, Name2 Surname2, Name3 Surname3, Name4 Surname4, Name5 Surname5, Name6 Surname6, Name7 Surname7, Name8 Surname8, Name9 Surname9, Name10 Surname10"
names_list = name.split(", ")
names_list

['Name1 Surname1',
 'Name2 Surname2',
 'Name3 Surname3',
 'Name4 Surname4',
 'Name5 Surname5',
 'Name6 Surname6',
 'Name7 Surname7',
 'Name8 Surname8',
 'Name9 Surname9',
 'Name10 Surname10']

–í –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π df —Å–æ–¥–µ—Ä–∂–∞—Ç—Å—è –¥–∞–Ω–Ω—ã–µ –∫–∞–∫ –Ω–∞ –∫–∞—Ä—Ç–∏–Ω–∫–µ task2.png (–Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ –ø–∞–ø–∫–µ —Å –∑–∞–¥–∞–Ω–∏–µ–º)
–û—Ç–±–µ—Ä–∏—Ç–µ –∏–∑ –Ω–∏—Ö —Ç–æ–ª—å–∫–æ —Ç–µ, –≥–¥–µ wealth 'medium', –∞ –≤–æ–∑—Ä–∞—Å—Ç –±–æ–ª—å—à–µ 35, –∏ –ø–æ–º–µ—Å—Ç–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é medium_35
<img src='task2.png' width=320, heigth=240>

In [5]:
import pandas as pd

df = pd.DataFrame({"client_Id":[9002, 6722, 8799, 8737, 5208], 
                   "sex":[1, 1, 1, 0, 0], 
                   "wealth":["medium", "high", "high", "low", "medium"], 
                   "age":[63, 54, 62, 54, 37]})
medium_35 = df.query("wealth == 'medium' and age > 35")
medium_35

   client_Id  sex  wealth  age
0       9002    1  medium   63
4       5208    0  medium   37

–í–∞—à –∫–æ–ª–ª–µ–≥–∞-–Ω–æ–≤–∏—á–æ–∫ –ø–µ—Ä–µ–ø—É—Ç–∞–ª –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ –∏–∑ –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö –∑–∞–¥–∞–Ω–∏–π –∏ –ø—Ä–∏—Å–ª–∞–ª –≤–∞–º —Ç–∞–∫–æ–π –≤–∞—Ä–∏–∞–Ω—Ç task3.png (–Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ –ø–∞–ø–∫–µ —Å –∑–∞–¥–∞–Ω–∏–µ–º)
–ü—Ä–∏–≤–µ–¥–∏—Ç–µ —Ç–∞–±–ª–∏—Ü—É –∫ –∫–∞–Ω–æ–Ω–∏—á–Ω–æ–º—É –≤–∏–¥—É, —Å–æ—Ö—Ä–∞–Ω–∏–≤ –µ—ë –≤ —Ç—É –∂–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é df, –≥–¥–µ —Å–µ–π—á–∞—Å –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –Ω–µ—Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ –Ω–∞–∏–º–µ–Ω–Ω–æ–≤–∞–Ω–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞ (–≤–æ—Å–ø–æ–ª—å–∑—É–π—Ç–µ—Å—å –º–µ—Ç–æ–¥–æ–º rename)
Note: –∫–æ–ª–æ–Ω–∫–∞ –Ω–∞–∑—ã–≤–∞–µ—Ç—Å—è –ö–ª–∏–µ–Ω—Ç id - —à—Ä–∏—Ñ—Ç –ø–ª–æ—Ö–æ –ø–µ—Ä–µ–¥–∞—ë—Ç –∫–µ–π—Å i –≤ id
<img src='task3.png' width=320, heigth=240>

In [13]:
df = pd.DataFrame({"–ö–ª–∏–µ–Ω—Ç Id":[9002, 6722, 8799, 8737, 5208], 
                   "–ü–æ–ª":[1, 1, 1, 0, 0], 
                   "–ë–ª–∞–≥–æ—Å–æ—Å—Ç–æ—è–Ω–∏–µ":["medium", "high", "high", "low", "medium"], 
                   "–í–æ–∑—Ä–∞—Å—Ç":[63, 54, 62, 54, 37]})
df = df.rename(columns={
    "–ö–ª–∏–µ–Ω—Ç Id": "client_Id",
    "–ü–æ–ª": "sex",
    "–ë–ª–∞–≥–æ—Å–æ—Å—Ç–æ—è–Ω–∏–µ": "wealth",
    "–í–æ–∑—Ä–∞—Å—Ç": "age",
    
})
df

   client_Id  sex  wealth  age
0       9002    1  medium   63
1       6722    1    high   54
2       8799    1    high   62
3       8737    0     low   54
4       5208    0  medium   37

–î–æ–±–∞–≤—å—Ç–µ –≤ –∏—Å—Å–ª–µ–¥—É–µ–º—ã–π –Ω–∞–º–∏ –¥–∞—Ç–∞—Ñ—Ä—ç–π–º df –∫–æ–ª–æ–Ω–∫—É older_than_30, –≤ –∫–æ—Ç–æ—Ä–æ–π –±—É–¥–µ—Ç —Ö—Ä–∞–Ω–∏—Ç—å—Å—è –±–æ–ª—å—à–µ –ª–∏ –≤–æ–∑—Ä–∞—Å—Ç 30 –ª–µ—Ç (–±—É–ª–∏–Ω–æ–≤—Å–∫–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ)

In [15]:
df['older_than_30'] = df.age > 30
df

   client_Id  sex  wealth  age  older_than_30
0       9002    1  medium   63           True
1       6722    1    high   54           True
2       8799    1    high   62           True
3       8737    0     low   54           True
4       5208    0  medium   37           True

–ê —Ç–µ–ø–µ—Ä—å –ø–æ–ª—É—á–∏—Ç–µ —Å–µ—Ä–∏—é —Å —á–∏—Å–ª–æ–º —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –¥–ª—è –∫–∞–∂–¥–æ–π –∫–æ–ª–æ–Ω–∫–∏ –∏ –ø—Ä–∏—Å–≤–æ–π—Ç–µ –µ—ë –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π unique_num

In [22]:
unique_num = df.nunique()

–£ –Ω–∞—Å –ø–æ—è–≤–∏–ª–∏—Å—å –Ω–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ! –ü–µ—Ä–µ–º–µ–Ω–Ω–∞—è data —Ö—Ä–∞–Ω–∏—Ç –≤ —Å–µ–±–µ –¥–∞—Ç–∞—Ñ—Ä—ç–π–º —Å–ª–µ–¥—É—é—â–µ–≥–æ –≤–∏–¥–∞: task6.png
–ü—Ä–æ–≤–µ–¥–∏—Ç–µ inner join –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ data —Å df –∏–∑ –ø—Ä–µ–¥—ã–¥—É—â–µ–≥–æ —à–∞–≥–∞, –æ–±—ä–µ–¥–∏–Ω–∏–≤ –∏—Ö –ø–æ –∫–æ–ª–æ–Ω–∫–µ client_id, –∏ –ø–æ–º–µ—Å—Ç–∏—Ç–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é full_data (–¥–∞, –ø—Ä–∏–¥—É–º—ã–≤–∞—Ç—å –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ –∏–Ω–æ–≥–¥–∞ –±—ã–≤–∞–µ—Ç —Å–ª–æ–∂–Ω–æ)
<img src='task6.png' width=320, heigth=240>

In [28]:
data = pd.DataFrame({"client_Id":[5392, 9581, 7250, 8619, 6573], 
                     "amount": [42331, 88420, 1714, 80572, 57549], 
                     "date": [1585425830, 1585429536, 1585427761, 1585427077, 1585426290]})
full_data = df.merge(data, on=["client_Id"], how='inner')
full_data

Empty DataFrame
Columns: [client_Id, sex, wealth, age, older_than_30, amount, date]
Index: []

üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ
–ê —Ç–µ–ø–µ—Ä—å —Å–æ–∑–¥–∞–¥–∏–º —Å–≤–æ—é —Å–æ–±—Å—Ç–≤–µ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é!
–ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é read_n_agg, –∫–æ—Ç–æ—Ä–∞—è 
- –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –Ω–∞ –≤—Ö–æ–¥ –æ–¥–∏–Ω –ø–∞—Ä–∞–º–µ—Ç—Ä ‚Äì –ø—É—Ç—å –∫ —Ñ–∞–π–ª—É
- —Å—á–∏—Ç—ã–≤–∞–µ—Ç –ø–µ—Ä–µ–¥–∞–Ω–Ω—ã–π —Ñ–∞–π–ª, –≤ –∫–æ—Ç–æ—Ä–æ–º —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª–µ–º —è–≤–ª—è–µ—Ç—Å—è ;
- —Å—á–∏—Ç–∞–µ—Ç —Å—Ä–µ–¥–Ω–∏–π –∑–∞—Ä–∞–±–æ—Ç–æ–∫ (income) –ø–æ –∫–∞–∂–¥–æ–π –∫–æ–º–ø–∞–Ω–∏–∏ (company), –ø–µ—Ä–µ–Ω–æ—Å—è –∫–æ–ª–æ–Ω–∫—É company –≤ –∏–Ω–¥–µ–∫—Å (as_index=True)
- –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Ä–µ–∑—É–ª—å—Ç–∞—Ç —ç—Ç–∏—Ö –¥–µ–π—Å—Ç–≤–∏–π (–∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä—ç–π–º)
–î–∞–Ω–Ω—ã–µ –≤—ã–≥–ª—è–¥—è—Ç –∫–∞–∫ –≤ task7.png, –¥–∞—Ç–∞—Å—ç—Ç –≤ —Ñ–∞–π–ª–µ companies.csv
<img src='task7.png' width=320, heigth=240>

In [35]:
def read_n_agg(filepath):
    data = pd.read_csv(filepath, sep=";")
    data = data.groupby(["company"], as_index=True).agg({"income":"mean"})
    return data
read_n_agg("companies.csv")

                                                income
company
En +                                      9.962187e+10
–ê–û ¬´–ê–ª–µ–∫—Å–∞–Ω–¥—Ä–æ–≤–∞, –°–∞–≤–µ–ª—å–µ–≤ –∏ –ú–µ–ª—å–Ω–∏–∫–æ–≤–∞¬ª  7.206782e+10
–ê–û ¬´–ê–Ω–¥—Ä–µ–µ–≤-–ê–Ω–∏—Å–∏–º–æ–≤¬ª                     6.931948e+09
–ê–û ¬´–ê–Ω–¥—Ä–µ–µ–≤-–ú–∞–∫–∞—Ä–æ–≤–∞¬ª                     8.934380e+10
–ê–û ¬´–ë–æ–ª—å—à–∞–∫–æ–≤ –ö–æ—à–µ–ª–µ–≤–∞¬ª                   7.860861e+10
...                                                ...
–©–µ–∫–∏–Ω–æ–∞–∑–æ—Ç                                4.309092e+10
–©—É–∫–∏–Ω –õ–∏–º–∏—Ç–µ–¥                             6.703036e+10
–≠–π–≤–æ–Ω –ë—å—é—Ç–∏ –ü—Ä–æ–¥–∞–∫—Ç—Å –ö–æ–º–ø–∞–Ω–∏ (Avon)       2.503657e+10
–Ø–∫–æ–≤–ª–µ–≤–∞ –ò–Ω–∫–æ—Ä–ø–æ—Ä—ç–π—Ç–µ–¥                    3.523436e+10
–Ø–∫—É—à–µ–≤ –õ–∏–º–∏—Ç–µ–¥                            3.876468e+10

[289 rows x 1 columns]

–í–µ—Ä–Ω–µ–º—Å—è –∫ –¥–∞–Ω–Ω—ã–º –ø–æ –ø–æ–µ–∑–¥–∫–∞–º –Ω–∞ —Ç–∞–∫—Å–∏! –ù–∞ —ç—Ç–æ—Ç —Ä–∞–∑ ‚Äì –∏–∑ –ü–µ—Ä—É, —Å —Ä–µ–π—Ç–∏–Ω–≥–∞–º–∏ –≤–æ–¥–∏—Ç–µ–ª–µ–π, –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤, –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞–º–∏, –∏ –ø–∞—Ä–æ–π –¥—Ä—É–≥–∏—Ö –¥–µ—Ç–∞–ª–µ–π!
journey_id ‚Äì —É–Ω–∏–∫–∞–ª—å–Ω—ã–π id –ø–æ–µ–∑–¥–∫–∏
user_id ‚Äì id –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
driver_id ‚Äì id –≤–æ–¥–∏—Ç–µ–ª—è
taxi_id ‚Äì id –º–∞—à–∏–Ω—ã
icon ‚Äì —Ç–∏–ø –ø–æ–µ–∑–¥–∫–∏
start_type ‚Äì —Ç–∏–ø –∑–∞–∫–∞–∑–∞ (asap, reserved, delayed)
start_at ‚Äì –≤—Ä–µ–º—è –Ω–∞—á–∞–ª–∞ –ø–æ–µ–∑–¥–∫–∏
start_lat ‚Äì –∏—Å—Ö–æ–¥–Ω–æ–µ –º–µ—Å—Ç–æ–ø–æ–ª–æ–∂–µ–Ω–∏–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, —à–∏—Ä–æ—Ç–∞
start_lon ‚Äì –∏—Å—Ö–æ–¥–Ω–æ–µ –º–µ—Å—Ç–æ–ø–æ–ª–æ–∂–µ–Ω–∏–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –¥–æ–ª–≥–æ—Ç–∞
end_at ‚Äì –≤—Ä–µ–º—è –æ–∫–æ–Ω—á–∞–Ω–∏—è –ø–æ–µ–∑–¥–∫–∏
end_lat ‚Äì –∏—Ç–æ–≥–æ–≤–æ–µ –º–µ—Å—Ç–æ–ø–æ–ª–æ–∂–µ–Ω–∏–µ, —à–∏—Ä–æ—Ç–∞
end_lon ‚Äì –∏—Ç–æ–≥–æ–≤–æ–µ –º–µ—Å—Ç–æ–ø–æ–ª–æ–∂–µ–Ω–∏–µ, –¥–æ–ª–≥–æ—Ç–∞
end_state ‚Äì —Å–æ—Å—Ç–æ—è–Ω–∏–µ –∑–∞–∫–∞–∑–∞
driver_start_lat ‚Äì –∏—Å—Ö–æ–¥–Ω–æ–µ –º–µ—Å—Ç–æ–ø–æ–ª–æ–∂–µ–Ω–∏–µ –≤–æ–¥–∏—Ç–µ–ª—è, —à–∏—Ä–æ—Ç–∞
driver_start_lon ‚Äì –∏—Å—Ö–æ–¥–Ω–æ–µ –º–µ—Å—Ç–æ–ø–æ–ª–æ–∂–µ–Ω–∏–µ –≤–æ–¥–∏—Ç–µ–ª—è, –¥–æ–ª–≥–æ—Ç–∞
arrived_at ‚Äì –≤—Ä–µ–º—è –ø—Ä–∏–±—ã—Ç–∏—è –≤–æ–¥–∏—Ç–µ–ª—è
source ‚Äì –ø–ª–∞—Ç—Ñ–æ—Ä–º–∞, —Å –∫–æ—Ç–æ—Ä–æ–π —Å–¥–µ–ª–∞–Ω –∑–∞–∫–∞–∑
driver_score ‚Äì –æ—Ü–µ–Ω–∫–∞ –≤–æ–¥–∏—Ç–µ–ª—è –∫–ª–∏–µ–Ω—Ç–æ–º
rider_score ‚Äì –æ—Ü–µ–Ω–∫–∞ –∫–ª–∏–µ–Ω—Ç–∞ –≤–æ–¥–∏—Ç–µ–ª–µ–º
–ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ pandas –∫–∞–∫ pd. –ó–∞–≥—Ä—É–∑–∏—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç, –∏—Å–ø–æ–ª—å–∑—É—è ; –≤ –∫–∞—á–µ—Å—Ç–≤–µ —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª—è. –¢–∞–∫–∂–µ —É–∫–∞–∂–∏—Ç–µ, —á—Ç–æ —Å—Ç–æ–ª–±—Ü—ã start_at, end_at, arrived_at –Ω—É–∂–Ω–æ –ø—Ä–æ—á–∏—Ç–∞—Ç—å –∫–∞–∫ –¥–∞—Ç—ã (–ø–∞—Ä–∞–º–µ—Ç—Ä parse_dates). –†–µ–∑—É–ª—å—Ç–∞—Ç –∑–∞–ø–∏—à–∏—Ç–µ –≤ taxi.
–ú–æ–∂–µ—Ç –ø—Ä–∏–≥–æ–¥–∏—Ç—å—Å—è: read_csv()
–î–∞—Ç–∞—Å–µ—Ç –¥–ª—è –∑–∞–¥–∞–Ω–∏—è: taxi_peru.csv (–≤ –ø–∞–ø–∫–µ).

In [46]:
taxi = pd.read_csv("taxi_peru.csv", sep=";", parse_dates=["start_at", "end_at", "arrived_at"])
taxi.head()

,journey_id,user_id,driver_id,taxi_id,icon,start_type,start_at,start_lat,start_lon,end_at,end_lat,end_lon,end_state,driver_start_lat,driver_start_lon,arrived_at,source,driver_score,rider_score
0,23a1406fc6a11d866e3c82f22eed4d4c,0e9af5bbf1edfe591b54ecdfd7e91e26,583949a89a9ee17d19e3ca4f137b6b4c,b12f4f09c783e29fe0d0ea624530db56,executive,asap,2010-11-16 16:44:00,"-12,13983536","-77,02355957",2010-11-16 17:29:00,"-12,05537033","-77,0413208",drop off,"-12,10825481","-77,0272739",2010-11-16 17:02:00,iPhone,5.0,5.0
1,dd2af4715d0dc16eded53afc0e243577,a553c46e3a22fb9c326aeb3d72b3334e,NaN,NaN,executive,asap,2010-06-01 00:34:00,"-12,13874817","-76,99536133",2010-06-01 00:37:00,"-12,12465668","-77,02886963",not found,NaN,NaN,NaT,iPhone,NaN,NaN
2,dd91e131888064bf7df3ce08f3d4b4ad,a553c46e3a22fb9c326aeb3d72b3334e,NaN,NaN,executive,asap,2010-05-31 05:01:00,"-12,12453079","-77,02780151",2010-05-31 05:04:00,"-12,13883209","-76,99530029",not found,NaN,NaN,NaT,iPhone,NaN,NaN
3,dd2af4715d0dc16eded53afc0e2466d0,a553c46e3a22fb9c326aeb3d72b3334e,NaN,NaN,executive,asap,2010-06-01 00:29:00,"-12,13885117","-76,99530029",2010-06-01 00:32:00,"-12,12458801","-77,02896118",not found,NaN,NaN,NaT,iPhone,NaN,NaN
4,85b7eabcf5d84e42dc7629b7d27781af,56772d544fdfa589a020a1ff894a86f7,d665fb9f75ef5d9cd0fd89479380ba78,0accdd3aa5a322f4129fa20b53278c69,executive,reserved,2010-09-11 23:55:00,"-12,08995438","-76,92626953",2010-09-12 01:07:00,"-12,02223206","-77,10638428",drop off,"-12,08311558","-76,9277072",2010-09-11 23:50:00,iPhone,4.0,5.0

–ü—Ä–æ–≤–µ—Ä—å—Ç–µ, —Å –∫–∞–∫–æ–π –ø–ª–∞—Ç—Ñ–æ—Ä–º—ã –±—ã–ª–æ —Å–¥–µ–ª–∞–Ω–æ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∑–∞–∫–∞–∑–æ–≤. –í –æ—Ç–≤–µ—Ç–µ —É–∫–∞–∂–∏—Ç–µ –∑–Ω–∞—á–µ–Ω–∏–µ –≤ %, –æ–∫—Ä—É–≥–ª—ë–Ω–Ω–æ–µ –¥–æ —Ü–µ–ª–æ–≥–æ.

In [54]:
(taxi.groupby(["source"], as_index=False).agg({"journey_id":"count"})['journey_id'] / len(taxi) * 100).round(0)

0    21.0
1     1.0
2     2.0
3    42.0
4    33.0
Name: journey_id, dtype: float64